body{
    padding: 20px;
}
h3{
    margin-top: 20px;
}
img{
    width: 350px;
    display: inline-block;
    vertical-align: top;
}
div{
    display:inline-block;
    width: 300px;
    vertical-align: top;
    padding: 0px 10px;
    margin-left: 35px;
}