<head>
    <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet'>
</head>
<body>
  <h1>Weather Forecast</h1>
  <header>    
    <a [routerLink]="['/chicago']">Chicago, IL</a> |
    <a [routerLink]="['/dallas']">Dallas, TX</a> |
    <a [routerLink]="['/losangeles']">Los Angeles, CA</a> |
    <a [routerLink]="['/newyork']">New York City, New York</a> |
    <a [routerLink]="['/sanjose']">San Francisco, CA</a> |
    <a [routerLink]="['/seattle']">Seattle, WA</a>
  </header>

<router-outlet></router-outlet>
</body>
