<body>
  <div id="form">
    <form action="" method="GET" ng-submit="searchWeather()">
      <input type="text" id="search_box" placeholder="City" class="form-control" name="city" [(ngModel)]="city"
      >
      <input type="button" class="btn-search" (click)="save()" value="Search">
    </form>
  </div>
    
<div class="toggle-panel" *ngIf="show">
  <h3>{{city | capitalize}}</h3>
  <div id="info">
    Temperature: {{info.temp}}
    <p>Status: {{info.description | capitalize }}</p>  
    <p>Minimum temperature: {{info.min}}</p>
    <p>Maximum temperature: {{info.max}}</p>
    <p>Humidity: {{info.humidity}}%</p>
    <p>Wind Speed: {{info.wind}}mi/hr</p>
  </div>
</div>
  
</body>